body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: Montserrat;
}

main {
    flex: 1 0 auto;
}

nav.nav-center ul {
    text-align: center;
}
nav.nav-center ul li {
    display: inline;
    float: none;

}
nav.nav-center ul li a {
    display: inline-block;
    font-size: 1.3em;
    font-weight: 700;
}

section ul li {
    list-style-type: square!important;
    margin-left: 50px;
}

h5 {
    text-align:center;
    padding-bottom:40px;
}
.brand-logo
{
    background-color: #009688;
    border-radius: 0px 0px 100px 100px;
}
.banner
{
    background-color: rgba(64,210,196, 0.3);
    height: 100px;
}
header .banner {
    margin-bottom: 30px;
}
footer
{
    text-align: center;
}
.list-inline {
    padding-left: 0;
    margin-left: -5px;
    list-style: none;
}
.list-inline > li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
}

#toast-container {
    min-width: 10%;
    top: 10%;
    right: 50%;
    transform: translateX(50%);
}